@import url("https://fonts.googleapis.com/css?family=SUSE:400,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
